<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Olor químico</string>
	<string>Alcantarilla</string>
	<string>Basura</string>
	<string>Abono / Purín</string>
	<string>Otro</string>
	<string>No lo sé</string>
</array>
</plist>
